<div class="container">
    <div class="row">
        <div class="col-12" id="footer">
            <p class="roboto-regular" style="color: rgb(187 247 208)">Contact for work, copyright and more:</p>
            <p class="roboto-regular" style="color: white;">Nguyenquan06022004@gmail.com</p>
            <br>
            <p><a href="#" class="roboto-regular" style="color: white;">Điều khoản dịch vụ</a></p>
            <p><a href="#" class="roboto-regular" style="color: white;">Chính sách bảo mật</a></p>
            <br>
            <p class="roboto-regular" style="color: rgba(255, 255, 255, 0.688)">© 2024 - qcomic-v1-0.onrender.com</p>
        </div>
    </div>
</div>